
.cm-dashboard {
    margin: 0;
    width: 100%;
}


.cm-control {
    color: #333;
    padding-top: 4px;
}

.cm-control > span {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.cm-control img {
    width: 40px;
    height: 40px;
}

.gridster .gridster-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: white;
}

.cm-widget-header {
    position: relative;
    color: white;
    background-color: #444;
    font-size: 18px;
    border-bottom: 1px solid black;
    min-height: 30px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.cm-widget-header-buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.cm-widget-header-buttons .btn {
    margin: 4px;
    margin-top: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.cm-dashboard-header {
    font-size: 20px;
    border-bottom: 1px solid #444;
    color: white;
    background-color: #777;
    margin: -20px;
    margin-bottom: 20px;
    min-height: 50px;
    padding: 8px;
    padding-left: 20px;
}

.cm-dashboard-controls {
    float: right;
}

.cm-dropdown{
    max-width: 10px !important;
}

.cm-widget-menu-area {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 22px;
}

.cm-widget-menu-area .dropdown-menu {
    left: -20px;
    padding-left: 15px;
}


.cm-widget-menu-area a {
    color: white;
}

.cm-widget-menu-area i {
    cursor: pointer;
}

.dropdown-backdrop {
    position: static;
}

.cm-title-bar {
    background-color: white;
    padding: 0 20px;
    border-bottom: 2px solid black;
    height: 65px;
}

.cm-logo-area {
    text-align: center;
}
.cm-logo-area .col-sm-6{
    /*left:400px!important;*/
}


.cm-title-area {
    display: inline-block;

}



.cm-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 8px;
    vertical-align: top;
    border: 1px solid #999;
}

.cm-logo-title {
    color: #111;
    margin-top: 6px;
    font-size: 22px;
}

.cm-logo-subtitle {
    font-size: 13px;
    margin-top: -23px;
}



.cm-collacmed-menu {
    display: inline-block;
    height: 100%;
}

.cm-nav-button {
    height: 40px;
    width: 60px;
    margin-top: 10px;
    border: 1px solid #888;
    padding: 0;
    font-size: 26px;
    color: #777;
}

.cm-view {
    /* margin-left: 200px; */
    padding: 20px;
    background-color: #ccc;
    min-height: 100vh;
    overflow: auto;
}

.cm-view-full-width {
        width:100%;
    margin-left: 0;
    float: left;
}


.cm-user-profile {
    background-color: #333;
    color: white;
    width: 200px;
    min-height: 120px;
    padding-top: 10px;
}

.cm-user-profile > div {
    display: inline-block;
    padding-top: 10px;
    margin-left: 5px;
}

.cm-user-profile > div > p {
    margin-bottom: 2px;
}

.cm-user-profile > div > button {
    margin-top: 8px;
}

.cm-user-profile img {
    float: left;
    margin: 12px;
    width: 80px;
    height: 80px;
}

.cm-user-profile-small {
    color: #333;
    padding-top: 4px;
}

.cm-user-profile-small > span {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.cm-user-profile-small img {
    width: 40px;
    height: 40px;
}


/*.cm-menu-area {*/
    /*position: relative;*/
    /*background-color: #333;*/
    /*color: #ccc;*/
    /*padding-left: 0;*/
/*}*/

/*.cm-menu-area-vertical {*/
    /*float: left;*/
    /*width: 200px;*/
    /*min-height: 100vh;*/
    /*padding-top: 30px;*/
/*}*/

/*.cm-menu-area-horizontal {*/
    /*width: 100%;*/
    /*height: 40px;*/
/*}*/

/*.cm-menu-area ul {*/
    /*padding-left: 0;*/
/*}*/

/*.cm-menu-area .btn:hover {*/
    /*color: #ccc;*/
/*}*/

/*.cm-menu {*/
    /*list-style-type: none;*/
    /*vertical-align: top;*/
/*}*/

/*.cm-menu ul {*/
    /*display: inline;*/
    /*list-style-type: none;*/
    /*padding-left: 0;*/
/*}*/

/*.cm-menu li {*/
    /*line-height: 3em;*/
    /*cursor: pointer;*/
/*}*/

/*.cm-menu li div {*/
    /*display: inline-block;*/
    /*width: 90%;*/
    /*padding-left: 16px;*/
/*}*/

/*.cm-selectable-item:hover {*/
    /*background-color: #555;*/
/*}*/

/*.cm-menu-icon {*/
    /*margin-right: 10px;*/
/*}*/

/*.cm-menu-active-indicator {*/
    /*float: right;*/
    /*color: #ddd;*/
    /*margin-right: 0;*/
    /*margin-top: 8px;*/
/*}*/

/*.cm-noselect {*/
    /*-webkit-touch-callout: none;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/

/*.cm-group-indicator-left {*/
    /*float: right;*/
    /*color: #ddd;*/
    /*margin-right: 2px;*/
    /*margin-top: 15px;*/
/*}*/

/*.cm-subitem-section {*/
    /*padding-left: 16px;*/
/*}*/

/*.cm-menu-layout-button {*/
    /*margin: 12px;*/
    /*padding: 2px 8px;*/
    /*color: #bbb;*/
    /*background-color: #333;*/
    /*border: 1px solid #999;*/
/*}*/

/*.cm-layout-button-horizontal {*/
    /*position: absolute;*/
    /*top: -6px;*/
    /*right: 10px;*/
/*}*/

/*.cm-item-horizontal {*/
    /*display: inline-block;*/
    /*width: 165px !important;*/
    /*margin-left: 20px;*/
    /*margin-top: 5px;*/
    /*line-height: 1.5em !important;*/
/*}*/

.cm-popup-menu {
    position: absolute;
    z-index: 1000;
    background-color: #333;
    width: 200px;
    padding-left: 0;
}

.cm-fade-in-animation {
    -moz-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    transition: linear all 0.5s;
}
.cm-fade-in-animation.ng-hide {
    opacity: 0;
}


@media screen and (max-width: 430px) {
    .cm-icon {
        display: none;
    }
    .cm-logo-title {
        font-size: 18px;
    }
    .cm-logo-area {
        font-size: 18px;
    }
}

.cm-right-side-controls {
    line-height: 60px;
}

.cm-right-side-controls > div {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cm-right-side-controls > div {
        text-align: right;
    }
    .cm-logo-area {
        text-align: left;
        left: 400px;
    }
}