<md-divider></md-divider>
<h3>
    Well about me then..I'm Not just another Australia application developer.<br />
    My interests are my strengths which include MIS Development & Support, <br />
    Full-Stack Reactive Web Applications,
    Rapid MVP's for Startups or Small Business,<br />
    Cloud Based Services Setup, Deployment and Monitoring such as AWS, GAE & Azure.<br />
    and Database Design, Development & Maintenance including Oracle, SQL, Postgres, MongoDB & Firebase.<br />
    Oh And these too....Travelling, Photography, Learning and all things tech based and music.
</h3>
<md-divider></md-divider>